doctype html
html
  head
    meta(charset="utf-8")
    title JS Bin
  body
    form
      | Title:
      br
      input(type="text", name="Title")
      br
      | Author:
      br
      input(type="text", name="Author")
      br
      | Message:
      br
      textarea(rows="4", cols="50", name="comment", form="usrform")
      br
      input(type="submit", value="Submit")
